In [1]:
# Importing Required Library
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
# Set the path to the ChromeDriver executable
chrome_driver_path = r"C:\Users\Swapnil Alaspure\Documents\MIT Exam 2nd\WebScraping\chromedriver.exe"

# Create ChromeOptions object
chrome_options = webdriver.ChromeOptions()

# Instantiate the Chrome WebDriver with the specified options
driver = webdriver.Chrome(options=chrome_options)

# Open the URL
driver.get("https://www.cricketworldcup.com/stats/players/best-batting-strike-rate-innings")

In [3]:
# Our list empty list
table_headers = []

name_xpath = '//*[@id="main-content"]/div/div/div[2]/div/div/table/thead/tr'
name = driver.find_element(By.XPATH, name_xpath).text
table_headers.append(name.split())

# Display the list
table_headers

[['Pos', 'Player', 'Team', 'SR', 'Innings', 'Bat', 'Avg', 'Runs']]

In [4]:
# Our list empty list
players_data = []

name_xpath = '//div/div/div[2]/div/div/table/tbody'
name = driver.find_element(By.XPATH, name_xpath).text
players_data.append(name.split(','))


# Display the list
players_data

[['1 JAMES FRANKLIN NZ\n387.50\n- - 31\n2 David Warner AUS\n350.00\n- - 21\n3 Moeen Ali ENG\n344.44\n- - 31\n4 Chris Lewis ENG\n333.33\n- - 20\n5 Andre Russell WI\n323.07\n- - 42\n6 Glenn Maxwell AUS\n320.00\n- 32.00 32\n7 Brendon McCullum NZ\n308.00\n- 77.00 77\n8 Mitchell Johnson AUS\n300.00\n- - 27\n9 Liam Plunkett ENG\n300.00\n- - 27\n10 Shahid Afridi PAK\n300.00\n- - 21\n11 Paul Nixon ENG\n287.50\n- - 23\n12 Jacob Oram NZ\n277.77\n- 25.00 25\n13 Brad Haddin AUS\n277.77\n- 25.00 25\n14 David Miller SA\n272.22\n- 49.00 49\n15 Shoaib Akhtar PAK\n268.75\n- 43.00 43\n16 Brad Hogg AUS\n266.66\n- - 40\n17 JP Duminy SA\n266.66\n- 40.00 40\n18 AB de Villiers SA\n266.66\n- 24.00 24\n19 Pat Cummins AUS\n264.28\n- 37.00 37\n20 Moin Khan PAK\n258.33\n- - 31\n21 Aryan Dutt NED\n255.55\n- - 23\n22 Mark Wood ENG\n252.94\n- - 43\n23 Jos Buttler ENG\n250.00\n- 20.00 20\n24 Brendon McCullum NZ\n247.61\n- - 52\n25 Rashid Khan AFG\n245.45\n- 27.00 27']]

In [5]:
# Positions
Pos = []

for i in range(1,26):
    
    pos_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr['+ str(i) +']/td[4]'
    
    pos = driver.find_element(By.XPATH,
                                 pos_xpath).text
    
    Pos.append(pos)
    
Pos

['',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25']

In [6]:
# Name
Name = []

for i in range(1,26):
    
    name_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[5]'
    
    name = driver.find_element(By.XPATH,
                                 name_xpath).text
    Name.append(name)
    
Name

['',
 'David Warner',
 'Moeen Ali',
 'Chris Lewis',
 'Andre Russell',
 'Glenn Maxwell',
 'Brendon McCullum',
 'Mitchell Johnson',
 'Liam Plunkett',
 'Shahid Afridi',
 'Paul Nixon',
 'Jacob Oram',
 'Brad Haddin',
 'David Miller',
 'Shoaib Akhtar',
 'Brad Hogg',
 'JP Duminy',
 'AB de Villiers',
 'Pat Cummins',
 'Moin Khan',
 'Aryan Dutt',
 'Mark Wood',
 'Jos Buttler',
 'Brendon McCullum',
 'Rashid Khan']

In [7]:
# Country
Country = []

for i in range(1,26):
    
    country_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[6]/span[2]'
    
    country = driver.find_element(By.XPATH,
                                 country_xpath).text
    
    Country.append(country)
    
Country

['',
 'AUS',
 'ENG',
 'ENG',
 'WI',
 'AUS',
 'NZ',
 'AUS',
 'ENG',
 'PAK',
 'ENG',
 'NZ',
 'AUS',
 'SA',
 'PAK',
 'AUS',
 'SA',
 'SA',
 'AUS',
 'PAK',
 'NED',
 'ENG',
 'ENG',
 'NZ',
 'AFG']

In [8]:
# Runs
Runs = []

for i in range(1,26):
    
    run_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[10]'
    
    run = driver.find_element(By.XPATH,
                              run_xpath).text
    
    Runs.append(run)
    
Runs

['31',
 '21',
 '31',
 '20',
 '42',
 '32',
 '77',
 '27',
 '27',
 '21',
 '23',
 '25',
 '25',
 '49',
 '43',
 '40',
 '40',
 '24',
 '37',
 '31',
 '23',
 '43',
 '20',
 '52',
 '27']

In [9]:
# Strike Rate
SR = []

for i in range(1,26):
    
    rate_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[7]/span'
    
    rate = driver.find_element(By.XPATH,
                               rate_xpath).text
    
    SR.append(rate)
    
SR

['387.50',
 '350.00',
 '344.44',
 '333.33',
 '323.07',
 '320.00',
 '308.00',
 '300.00',
 '300.00',
 '300.00',
 '287.50',
 '277.77',
 '277.77',
 '272.22',
 '268.75',
 '266.66',
 '266.66',
 '266.66',
 '264.28',
 '258.33',
 '255.55',
 '252.94',
 '250.00',
 '247.61',
 '245.45']

In [10]:
# Innings
Inn = []

for i in range(1,26):
    
    inn_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[8]'
    
    inn = driver.find_element(By.XPATH,
                              inn_xpath).text
    Inn.append(inn)
    
Inn

['-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [11]:
# Batting Average
Bat_Avg = []

for i in range(1,26):
    
    Bat_Avg_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[9]'
    
    batAvg = driver.find_element(By.XPATH,
                                 Bat_Avg_xpath).text
    Bat_Avg.append(batAvg)
    
Bat_Avg

['-',
 '-',
 '-',
 '-',
 '-',
 '32.00',
 '77.00',
 '-',
 '-',
 '-',
 '-',
 '25.00',
 '25.00',
 '49.00',
 '43.00',
 '-',
 '40.00',
 '24.00',
 '37.00',
 '-',
 '-',
 '-',
 '20.00',
 '-',
 '27.00']

In [12]:
# To Close the driver
driver.close()

In [13]:
# Creating Data Frame
best_strike_rate = pd.DataFrame({'Pos':Pos,
                             "Name":Name,
                             "Country":Country,
                             "Strike Rate":SR,
                             "Inn":Inn,
                             "Bat Avg":Bat_Avg,
                             "Runs":Runs,
                            })
best_strike_rate

   Pos              Name Country Strike Rate Inn Bat Avg Runs
0                                     387.50   -       -   31
1    2      David Warner     AUS      350.00   -       -   21
2    3         Moeen Ali     ENG      344.44   -       -   31
3    4       Chris Lewis     ENG      333.33   -       -   20
4    5     Andre Russell      WI      323.07   -       -   42
5    6     Glenn Maxwell     AUS      320.00   -   32.00   32
6    7  Brendon McCullum      NZ      308.00   -   77.00   77
7    8  Mitchell Johnson     AUS      300.00   -       -   27
8    9     Liam Plunkett     ENG      300.00   -       -   27
9   10     Shahid Afridi     PAK      300.00   -       -   21
10  11        Paul Nixon     ENG      287.50   -       -   23
11  12        Jacob Oram      NZ      277.77   -   25.00   25
12  13       Brad Haddin     AUS      277.77   -   25.00   25
13  14      David Miller      SA      272.22   -   49.00   49
14  15     Shoaib Akhtar     PAK      268.75   -   43.00   43
15  16         Brad Hogg     AUS      266.66   -       -   40
16  17         JP Duminy      SA      266.66   -   40.00   40
17  18    AB de Villiers      SA      266.66   -   24.00   24
18  19       Pat Cummins     AUS      264.28   -   37.00   37
19  20         Moin Khan     PAK      258.33   -       -   31
20  21        Aryan Dutt     NED      255.55   -       -   23
21  22         Mark Wood     ENG      252.94   -       -   43
22  23       Jos Buttler     ENG      250.00   -   20.00   20
23  24  Brendon McCullum      NZ      247.61   -       -   52
24  25       Rashid Khan     AFG      245.45   -   27.00   27

In [14]:
# Adding Values
best_strike_rate['Pos'][0] ='1'
best_strike_rate['Name'][0] = 'JAMES FRANKLIN'
best_strike_rate['Country'][0] = 'NZ'

In [15]:
best_strike_rate

   Pos              Name Country Strike Rate Inn Bat Avg Runs
0    1    JAMES FRANKLIN      NZ      387.50   -       -   31
1    2      David Warner     AUS      350.00   -       -   21
2    3         Moeen Ali     ENG      344.44   -       -   31
3    4       Chris Lewis     ENG      333.33   -       -   20
4    5     Andre Russell      WI      323.07   -       -   42
5    6     Glenn Maxwell     AUS      320.00   -   32.00   32
6    7  Brendon McCullum      NZ      308.00   -   77.00   77
7    8  Mitchell Johnson     AUS      300.00   -       -   27
8    9     Liam Plunkett     ENG      300.00   -       -   27
9   10     Shahid Afridi     PAK      300.00   -       -   21
10  11        Paul Nixon     ENG      287.50   -       -   23
11  12        Jacob Oram      NZ      277.77   -   25.00   25
12  13       Brad Haddin     AUS      277.77   -   25.00   25
13  14      David Miller      SA      272.22   -   49.00   49
14  15     Shoaib Akhtar     PAK      268.75   -   43.00   43
15  16         Brad Hogg     AUS      266.66   -       -   40
16  17         JP Duminy      SA      266.66   -   40.00   40
17  18    AB de Villiers      SA      266.66   -   24.00   24
18  19       Pat Cummins     AUS      264.28   -   37.00   37
19  20         Moin Khan     PAK      258.33   -       -   31
20  21        Aryan Dutt     NED      255.55   -       -   23
21  22         Mark Wood     ENG      252.94   -       -   43
22  23       Jos Buttler     ENG      250.00   -   20.00   20
23  24  Brendon McCullum      NZ      247.61   -       -   52
24  25       Rashid Khan     AFG      245.45   -   27.00   27

# The End...!