In [1]:
# Importing Required Library
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
# Set the path to the ChromeDriver executable
chrome_driver_path = r"C:\Users\Swapnil Alaspure\Documents\MIT Exam 2nd\WebScraping\chromedriver.exe"

# Create ChromeOptions object
chrome_options = webdriver.ChromeOptions()

# Instantiate the Chrome WebDriver with the specified options
driver = webdriver.Chrome(options=chrome_options)

# Open the URL
driver.get("https://www.cricketworldcup.com/stats/players/most-fours")

In [3]:
# Our list empty list
table_headers = []

name_xpath = '//*[@id="main-content"]/div/div/div[2]/div/div/table/thead/tr'
name = driver.find_element(By.XPATH, name_xpath).text
table_headers.append(name.split())

# Display the list
table_headers

[['Pos', 'Player', 'Team', '4s', 'Innings', 'Bat', 'Avg', 'Runs']]

In [4]:
# Our list empty list
players_data = []


name_xpath = '//div/div/div[2]/div/div/table/tbody'
name = driver.find_element(By.XPATH, name_xpath).text
players_data.append(name.split(','))


# Display the list
players_data

[['1 SACHIN TENDULKAR IND\n241\n44 56.95 2278\n2 Rohit Sharma IND\n162\n27 61.12 1528\n3 Virat Kohli IND\n155\n36 60.00 1740\n4 David Warner AUS\n153\n28 58.46 1520\n5 Kumar Sangakkara SL\n147\n35 56.74 1532\n6 Ricky Ponting AUS\n145\n42 45.86 1743\n7 Adam Gilchrist AUS\n141\n31 36.16 1085\n8 Stephen Fleming NZ\n134\n33 35.83 1075\n9 Shakib Al Hasan BAN\n128\n36 41.62 1332\n10 Brian Lara WI\n124\n33 40.83 1225\n11 Tillakaratne Dilshan SL\n122\n25 52.95 1112\n12 AB de Villiers SA\n121\n22 63.52 1207\n13 Sanath Jayasuriya SL\n120\n37 33.28 1165\n14 Chris Gayle WI\n116\n34 35.93 1186\n15 Kane Williamson NZ\n115\n26 61.42 1167\n16 Quinton de Kock SA\n112\n27 41.76 1044\n17 Martin Guptill NZ\n108\n29 39.88 997\n18 Virender Sehwag IND\n108\n22 38.31 843\n19 Aravinda de Silva SL\n107\n32 36.68 1064\n20 Matthew Hayden AUS\n106\n21 51.94 987\n21 Herschelle Gibbs SA\n106\n23 56.15 1067\n22 Steve Smith AUS\n103\n29 43.53 1132\n23 Arjuna Ranatunga SL\n99\n29 46.14 969\n24 Mahela Jayawardene SL\n99\n34 35.48 1100\n25 Glenn Maxwell AUS\n94\n24 47.31 899']]

In [5]:
# Positions

Pos = []

for i in range(1,26):
    
    pos_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr['+ str(i) +']/td[4]'
    
    pos = driver.find_element(By.XPATH,
                                 pos_xpath).text
    
    Pos.append(pos)
    
Pos

['',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25']

In [6]:
# Name

Name = []

for i in range(1,26):
    
    name_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[5]'
    
    name = driver.find_element(By.XPATH,
                                 name_xpath).text
    
    Name.append(name)
    
Name

['',
 'Rohit Sharma',
 'Virat Kohli',
 'David Warner',
 'Kumar Sangakkara',
 'Ricky Ponting',
 'Adam Gilchrist',
 'Stephen Fleming',
 'Shakib Al Hasan',
 'Brian Lara',
 'Tillakaratne Dilshan',
 'AB de Villiers',
 'Sanath Jayasuriya',
 'Chris Gayle',
 'Kane Williamson',
 'Quinton de Kock',
 'Martin Guptill',
 'Virender Sehwag',
 'Aravinda de Silva',
 'Matthew Hayden',
 'Herschelle Gibbs',
 'Steve Smith',
 'Arjuna Ranatunga',
 'Mahela Jayawardene',
 'Glenn Maxwell']

In [7]:
# Country

Country = []

for i in range(1,26):
    
    country_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[6]/span[2]'
    
    country = driver.find_element(By.XPATH,
                                 country_xpath).text
    
    Country.append(country)
    
Country

['',
 'IND',
 'IND',
 'AUS',
 'SL',
 'AUS',
 'AUS',
 'NZ',
 'BAN',
 'WI',
 'SL',
 'SA',
 'SL',
 'WI',
 'NZ',
 'SA',
 'NZ',
 'IND',
 'SL',
 'AUS',
 'SA',
 'AUS',
 'SL',
 'SL',
 'AUS']

In [8]:
# Runs

Runs = []

for i in range(1,26):
    
    run_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[7]/span'
    
    run = driver.find_element(By.XPATH,
                                 run_xpath).text
    
    Runs.append(run)
    
Runs

['241',
 '162',
 '155',
 '153',
 '147',
 '145',
 '141',
 '134',
 '128',
 '124',
 '122',
 '121',
 '120',
 '116',
 '115',
 '112',
 '108',
 '108',
 '107',
 '106',
 '106',
 '103',
 '99',
 '99',
 '94']

In [9]:
# Innings

Inn = []

for i in range(1,26):
    
    inn_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[8]'
    
    inn = driver.find_element(By.XPATH,
                                 inn_xpath).text
    
    Inn.append(inn)
    
Inn

['44',
 '27',
 '36',
 '28',
 '35',
 '42',
 '31',
 '33',
 '36',
 '33',
 '25',
 '22',
 '37',
 '34',
 '26',
 '27',
 '29',
 '22',
 '32',
 '21',
 '23',
 '29',
 '29',
 '34',
 '24']

In [10]:
# 4s

s4 = []

for i in range(1,26):
    
    S4_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[7]'
    
    S4 = driver.find_element(By.XPATH,
                                 S4_xpath).text
    
    s4.append(S4)
    
s4

['241',
 '162',
 '155',
 '153',
 '147',
 '145',
 '141',
 '134',
 '128',
 '124',
 '122',
 '121',
 '120',
 '116',
 '115',
 '112',
 '108',
 '108',
 '107',
 '106',
 '106',
 '103',
 '99',
 '99',
 '94']

In [11]:
# Batting Average

Bat_Avg = []

for i in range(1,26):
    
    batAvg_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[9]'
    
    batAvg = driver.find_element(By.XPATH,
                                 batAvg_xpath).text
    
    Bat_Avg.append(batAvg)
    
Bat_Avg

['56.95',
 '61.12',
 '60.00',
 '58.46',
 '56.74',
 '45.86',
 '36.16',
 '35.83',
 '41.62',
 '40.83',
 '52.95',
 '63.52',
 '33.28',
 '35.93',
 '61.42',
 '41.76',
 '39.88',
 '38.31',
 '36.68',
 '51.94',
 '56.15',
 '43.53',
 '46.14',
 '35.48',
 '47.31']

In [12]:
# To Close the driver
driver.close()

In [13]:
# Creating Data Frame
Most_4s = pd.DataFrame({'Pos':Pos,
                             "Name":Name,
                             "Country":Country,
                            " 4s":s4,
                             "Inn":Inn,
                             "Bat Avg":Bat_Avg,
                             "Runs":Runs,
                            })
Most_4s

   Pos                  Name Country   4s Inn Bat Avg Runs
0                                     241  44   56.95  241
1    2          Rohit Sharma     IND  162  27   61.12  162
2    3           Virat Kohli     IND  155  36   60.00  155
3    4          David Warner     AUS  153  28   58.46  153
4    5      Kumar Sangakkara      SL  147  35   56.74  147
5    6         Ricky Ponting     AUS  145  42   45.86  145
6    7        Adam Gilchrist     AUS  141  31   36.16  141
7    8       Stephen Fleming      NZ  134  33   35.83  134
8    9       Shakib Al Hasan     BAN  128  36   41.62  128
9   10            Brian Lara      WI  124  33   40.83  124
10  11  Tillakaratne Dilshan      SL  122  25   52.95  122
11  12        AB de Villiers      SA  121  22   63.52  121
12  13     Sanath Jayasuriya      SL  120  37   33.28  120
13  14           Chris Gayle      WI  116  34   35.93  116
14  15       Kane Williamson      NZ  115  26   61.42  115
15  16       Quinton de Kock      SA  112  27   41.76  112
16  17        Martin Guptill      NZ  108  29   39.88  108
17  18       Virender Sehwag     IND  108  22   38.31  108
18  19     Aravinda de Silva      SL  107  32   36.68  107
19  20        Matthew Hayden     AUS  106  21   51.94  106
20  21      Herschelle Gibbs      SA  106  23   56.15  106
21  22           Steve Smith     AUS  103  29   43.53  103
22  23      Arjuna Ranatunga      SL   99  29   46.14   99
23  24    Mahela Jayawardene      SL   99  34   35.48   99
24  25         Glenn Maxwell     AUS   94  24   47.31   94

In [14]:
# Adding Values
Most_4s['Pos'][0] ='1'
Most_4s['Name'][0] = 'SACHIN TENDULKAR'
Most_4s['Country'][0] = 'IND'

In [15]:
Most_4s

   Pos                  Name Country   4s Inn Bat Avg Runs
0    1      SACHIN TENDULKAR     IND  241  44   56.95  241
1    2          Rohit Sharma     IND  162  27   61.12  162
2    3           Virat Kohli     IND  155  36   60.00  155
3    4          David Warner     AUS  153  28   58.46  153
4    5      Kumar Sangakkara      SL  147  35   56.74  147
5    6         Ricky Ponting     AUS  145  42   45.86  145
6    7        Adam Gilchrist     AUS  141  31   36.16  141
7    8       Stephen Fleming      NZ  134  33   35.83  134
8    9       Shakib Al Hasan     BAN  128  36   41.62  128
9   10            Brian Lara      WI  124  33   40.83  124
10  11  Tillakaratne Dilshan      SL  122  25   52.95  122
11  12        AB de Villiers      SA  121  22   63.52  121
12  13     Sanath Jayasuriya      SL  120  37   33.28  120
13  14           Chris Gayle      WI  116  34   35.93  116
14  15       Kane Williamson      NZ  115  26   61.42  115
15  16       Quinton de Kock      SA  112  27   41.76  112
16  17        Martin Guptill      NZ  108  29   39.88  108
17  18       Virender Sehwag     IND  108  22   38.31  108
18  19     Aravinda de Silva      SL  107  32   36.68  107
19  20        Matthew Hayden     AUS  106  21   51.94  106
20  21      Herschelle Gibbs      SA  106  23   56.15  106
21  22           Steve Smith     AUS  103  29   43.53  103
22  23      Arjuna Ranatunga      SL   99  29   46.14   99
23  24    Mahela Jayawardene      SL   99  34   35.48   99
24  25         Glenn Maxwell     AUS   94  24   47.31   94

# The End...!