In [1]:
# Importing Required Library
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
# Set the path to the ChromeDriver executable
chrome_driver_path = r"C:\Users\Swapnil Alaspure\Documents\MIT Exam 2nd\WebScraping\chromedriver.exe"

# Create ChromeOptions object
chrome_options = webdriver.ChromeOptions()

# Instantiate the Chrome WebDriver with the specified options
driver = webdriver.Chrome(options=chrome_options)

# Open the URL
driver.get("https://www.cricketworldcup.com/stats/players/most-runs")

In [3]:
# Our list empty list
table_headers = []

name_xpath = '//*[@id="main-content"]/div/div/div[2]/div/div/table/thead/tr'
name = driver.find_element(By.XPATH, name_xpath).text
table_headers.append(name.split())


# Display the list
table_headers

[['Pos', 'Player', 'Team', 'Runs', 'Innings', 'Bat', 'Avg', 'Runs']]

In [4]:
# Our list empty list
players_data = []

for i in range(1, 26):
    name_xpath = '//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']'
    name = driver.find_element(By.XPATH, name_xpath).text
    players_data.append(name.replace(' ', ','))


# Display the list
players_data

['1,SACHIN,TENDULKAR,IND\n2278\n44,56.95,2278',
 '2,Ricky,Ponting,AUS\n1743\n42,45.86,1743',
 '3,Virat,Kohli,IND\n1740\n36,60.00,1740',
 '4,Kumar,Sangakkara,SL\n1532\n35,56.74,1532',
 '5,Rohit,Sharma,IND\n1528\n27,61.12,1528',
 '6,David,Warner,AUS\n1520\n28,58.46,1520',
 '7,Shakib,Al,Hasan,BAN\n1332\n36,41.62,1332',
 '8,Brian,Lara,WI\n1225\n33,40.83,1225',
 '9,AB,de,Villiers,SA\n1207\n22,63.52,1207',
 '10,Chris,Gayle,WI\n1186\n34,35.93,1186',
 '11,Kane,Williamson,NZ\n1167\n26,61.42,1167',
 '12,Sanath,Jayasuriya,SL\n1165\n37,33.28,1165',
 '13,Jacques,Kallis,SA\n1148\n32,45.92,1148',
 '14,Steve,Smith,AUS\n1132\n29,43.53,1132',
 '15,Tillakaratne,Dilshan,SL\n1112\n25,52.95,1112',
 '16,Mahela,Jayawardene,SL\n1100\n34,35.48,1100',
 '17,Adam,Gilchrist,AUS\n1085\n31,36.16,1085',
 '18,Javed,Miandad,PAK\n1083\n30,43.32,1083',
 '19,Mushfiqur,Rahim,BAN\n1079\n37,34.80,1079',
 '20,Stephen,Fleming,NZ\n1075\n33,35.83,1075',
 '21,Herschelle,Gibbs,SA\n1067\n23,56.15,1067',
 '22,Aravinda,de,Silva,SL\n1064\n32,36.68,1064',
 '23,Quinton,de,Kock,SA\n1044\n27,41.76,1044',
 '24,Joe,Root,ENG\n1034\n25,44.95,1034',
 '25,Viv,Richards,WI\n1013\n21,63.31,1013']

In [5]:
# Positions

Pos = []

for i in range(1,26):
    
    pos_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr['+ str(i) +']/td[4]'
    
    pos = driver.find_element(By.XPATH,
                                 pos_xpath).text
    
    Pos.append(pos)
    
Pos

['',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25']

In [6]:
# Name

Name = []

for i in range(1,26):
    
    name_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[5]'
    
    name = driver.find_element(By.XPATH,
                                 name_xpath).text
    
    Name.append(name)
    
Name

['',
 'Ricky Ponting',
 'Virat Kohli',
 'Kumar Sangakkara',
 'Rohit Sharma',
 'David Warner',
 'Shakib Al Hasan',
 'Brian Lara',
 'AB de Villiers',
 'Chris Gayle',
 'Kane Williamson',
 'Sanath Jayasuriya',
 'Jacques Kallis',
 'Steve Smith',
 'Tillakaratne Dilshan',
 'Mahela Jayawardene',
 'Adam Gilchrist',
 'Javed Miandad',
 'Mushfiqur Rahim',
 'Stephen Fleming',
 'Herschelle Gibbs',
 'Aravinda de Silva',
 'Quinton de Kock',
 'Joe Root',
 'Viv Richards']

In [7]:
# Country

Country = []

for i in range(1,26):
    
    country_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[6]/span[2]'
    
    country = driver.find_element(By.XPATH,
                                 country_xpath).text
    
    Country.append(country)
    
Country

['',
 'AUS',
 'IND',
 'SL',
 'IND',
 'AUS',
 'BAN',
 'WI',
 'SA',
 'WI',
 'NZ',
 'SL',
 'SA',
 'AUS',
 'SL',
 'SL',
 'AUS',
 'PAK',
 'BAN',
 'NZ',
 'SA',
 'SL',
 'SA',
 'ENG',
 'WI']

In [8]:
# Hs Runs

Runs = []

for i in range(1,26):
    
    runs_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[7]/span'
    
    run = driver.find_element(By.XPATH,
                                 runs_xpath).text
    
    Runs.append(run)
    
Runs

['2278',
 '1743',
 '1740',
 '1532',
 '1528',
 '1520',
 '1332',
 '1225',
 '1207',
 '1186',
 '1167',
 '1165',
 '1148',
 '1132',
 '1112',
 '1100',
 '1085',
 '1083',
 '1079',
 '1075',
 '1067',
 '1064',
 '1044',
 '1034',
 '1013']

In [9]:
# Innings

Inn = []

for i in range(1,26):
    
    inn_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[8]'
    
    inn = driver.find_element(By.XPATH,
                                 inn_xpath).text
    
    Inn.append(inn)
    
Inn

['44',
 '42',
 '36',
 '35',
 '27',
 '28',
 '36',
 '33',
 '22',
 '34',
 '26',
 '37',
 '32',
 '29',
 '25',
 '34',
 '31',
 '30',
 '37',
 '33',
 '23',
 '32',
 '27',
 '25',
 '21']

In [10]:
# Batting Average

Bat_Avg = []

for i in range(1,26):
    
    batAvg_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[9]'
    
    batAvg = driver.find_element(By.XPATH,
                                 batAvg_xpath).text
    
    Bat_Avg.append(batAvg)
    
Bat_Avg

['56.95',
 '45.86',
 '60.00',
 '56.74',
 '61.12',
 '58.46',
 '41.62',
 '40.83',
 '63.52',
 '35.93',
 '61.42',
 '33.28',
 '45.92',
 '43.53',
 '52.95',
 '35.48',
 '36.16',
 '43.32',
 '34.80',
 '35.83',
 '56.15',
 '36.68',
 '41.76',
 '44.95',
 '63.31']

In [11]:
# To Close the driver
driver.close()

In [12]:
# Creating Data Frame
most_runs_df = pd.DataFrame({'Pos':Pos,
                             "Name":Name,
                             "Country":Country,
                             "Inn":Inn,
                             "Bat Avg":Bat_Avg,
                             "Runs":Runs,
                            })
most_runs_df

   Pos                  Name Country Inn Bat Avg  Runs
0                                     44   56.95  2278
1    2         Ricky Ponting     AUS  42   45.86  1743
2    3           Virat Kohli     IND  36   60.00  1740
3    4      Kumar Sangakkara      SL  35   56.74  1532
4    5          Rohit Sharma     IND  27   61.12  1528
5    6          David Warner     AUS  28   58.46  1520
6    7       Shakib Al Hasan     BAN  36   41.62  1332
7    8            Brian Lara      WI  33   40.83  1225
8    9        AB de Villiers      SA  22   63.52  1207
9   10           Chris Gayle      WI  34   35.93  1186
10  11       Kane Williamson      NZ  26   61.42  1167
11  12     Sanath Jayasuriya      SL  37   33.28  1165
12  13        Jacques Kallis      SA  32   45.92  1148
13  14           Steve Smith     AUS  29   43.53  1132
14  15  Tillakaratne Dilshan      SL  25   52.95  1112
15  16    Mahela Jayawardene      SL  34   35.48  1100
16  17        Adam Gilchrist     AUS  31   36.16  1085
17  18         Javed Miandad     PAK  30   43.32  1083
18  19       Mushfiqur Rahim     BAN  37   34.80  1079
19  20       Stephen Fleming      NZ  33   35.83  1075
20  21      Herschelle Gibbs      SA  23   56.15  1067
21  22     Aravinda de Silva      SL  32   36.68  1064
22  23       Quinton de Kock      SA  27   41.76  1044
23  24              Joe Root     ENG  25   44.95  1034
24  25          Viv Richards      WI  21   63.31  1013

In [13]:
# Adding Values
most_runs_df['Pos'][0] ='1'
most_runs_df['Name'][0] = 'SACHIN TENDULKAR'
most_runs_df['Country'][0] = 'IND'

In [14]:
most_runs_df

   Pos                  Name Country Inn Bat Avg  Runs
0    1      SACHIN TENDULKAR     IND  44   56.95  2278
1    2         Ricky Ponting     AUS  42   45.86  1743
2    3           Virat Kohli     IND  36   60.00  1740
3    4      Kumar Sangakkara      SL  35   56.74  1532
4    5          Rohit Sharma     IND  27   61.12  1528
5    6          David Warner     AUS  28   58.46  1520
6    7       Shakib Al Hasan     BAN  36   41.62  1332
7    8            Brian Lara      WI  33   40.83  1225
8    9        AB de Villiers      SA  22   63.52  1207
9   10           Chris Gayle      WI  34   35.93  1186
10  11       Kane Williamson      NZ  26   61.42  1167
11  12     Sanath Jayasuriya      SL  37   33.28  1165
12  13        Jacques Kallis      SA  32   45.92  1148
13  14           Steve Smith     AUS  29   43.53  1132
14  15  Tillakaratne Dilshan      SL  25   52.95  1112
15  16    Mahela Jayawardene      SL  34   35.48  1100
16  17        Adam Gilchrist     AUS  31   36.16  1085
17  18         Javed Miandad     PAK  30   43.32  1083
18  19       Mushfiqur Rahim     BAN  37   34.80  1079
19  20       Stephen Fleming      NZ  33   35.83  1075
20  21      Herschelle Gibbs      SA  23   56.15  1067
21  22     Aravinda de Silva      SL  32   36.68  1064
22  23       Quinton de Kock      SA  27   41.76  1044
23  24              Joe Root     ENG  25   44.95  1034
24  25          Viv Richards      WI  21   63.31  1013

# The End...!