In [1]:
# Importing Required Library
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
# Set the path to the ChromeDriver executable
chrome_driver_path = r"C:\Users\Swapnil Alaspure\Documents\MIT Exam 2nd\WebScraping\chromedriver.exe"

# Create ChromeOptions object
chrome_options = webdriver.ChromeOptions()

# Instantiate the Chrome WebDriver with the specified options
driver = webdriver.Chrome(options=chrome_options)

# Open the URL
driver.get("https://www.cricketworldcup.com/stats/players/most-fifties")

In [3]:
# Our list empty list
table_headers = []

name_xpath = '//*[@id="main-content"]/div/div/div[2]/div/div/table/thead/tr'
name = driver.find_element(By.XPATH, name_xpath).text
table_headers.append(name.split())


# Display the list
table_headers

[['Pos', 'Player', 'Team', '50s', 'Innings', 'Bat', 'Avg', 'Runs']]

In [4]:
# Our list empty list
players_data = []

for i in range(1, 26):
    name_xpath = '//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']'
    name = driver.find_element(By.XPATH, name_xpath).text
    players_data.append(name.replace(' ', ','))


# Display the list
players_data

['1,SACHIN,TENDULKAR,IND\n15\n44,56.95,2278',
 '2,Virat,Kohli,IND\n11\n36,60.00,1740',
 '3,Shakib,Al,Hasan,BAN\n11\n36,41.62,1332',
 '4,Steve,Smith,AUS\n10\n29,43.53,1132',
 '5,Jacques,Kallis,SA\n9\n32,45.92,1148',
 '6,Graham,Gooch,ENG\n8\n21,44.85,897',
 '7,Michael,Clarke,AUS\n8\n21,63.42,888',
 '8,Steve,Tikolo,KEN\n8\n27,29.53,768',
 '9,Javed,Miandad,PAK\n8\n30,43.32,1083',
 '10,Mushfiqur,Rahim,BAN\n8\n37,34.80,1079',
 '11,Martin,Crowe,NZ\n8\n21,55.00,880',
 '12,Mohammad,Azharuddin,IND\n8\n25,39.33,826',
 '13,Adam,Gilchrist,AUS\n8\n31,36.16,1085',
 '14,Herschelle,Gibbs,SA\n8\n23,56.15,1067',
 '15,Brian,Lara,WI\n7\n33,40.83,1225',
 '16,Babar,Azam,PAK\n7\n17,52.93,794',
 '17,Misbah-ul-Haq,PAK\n7\n13,49.83,598',
 '18,Shivnarine,Chanderpaul,WI\n7\n28,40.41,970',
 '19,Arjuna,Ranatunga,SL\n7\n29,46.14,969',
 '20,Faf,du,Plessis,SA\n7\n21,57.87,926',
 '21,Kumar,Sangakkara,SL\n7\n35,56.74,1532',
 '22,Yuvraj,Singh,IND\n7\n21,52.71,738',
 '23,Ben,Stokes,ENG\n7\n16,59.15,769',
 '24,Graeme,Smith,SA\n6\n20,39.31,747',
 '25,Ross,Taylor,NZ\n6\n30,37.11,1002']

In [5]:
# Positions

Pos = []

for i in range(1,26):
    
    pos_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr['+ str(i) +']/td[4]'
    
    pos = driver.find_element(By.XPATH,
                                 pos_xpath).text
    
    Pos.append(pos)
    
Pos

['',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25']

In [6]:
# Name

Name = []

for i in range(1,26):
    
    name_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[5]'
    
    name = driver.find_element(By.XPATH,
                                 name_xpath).text
    
    Name.append(name)
    
Name

['',
 'Virat Kohli',
 'Shakib Al Hasan',
 'Steve Smith',
 'Jacques Kallis',
 'Graham Gooch',
 'Michael Clarke',
 'Steve Tikolo',
 'Javed Miandad',
 'Mushfiqur Rahim',
 'Martin Crowe',
 'Mohammad Azharuddin',
 'Adam Gilchrist',
 'Herschelle Gibbs',
 'Brian Lara',
 'Babar Azam',
 'Misbah-ul-Haq',
 'Shivnarine Chanderpaul',
 'Arjuna Ranatunga',
 'Faf du Plessis',
 'Kumar Sangakkara',
 'Yuvraj Singh',
 'Ben Stokes',
 'Graeme Smith',
 'Ross Taylor']

In [7]:
# Country

Country = []

for i in range(1,26):
    
    country_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[6]/span[2]'
    
    country = driver.find_element(By.XPATH,
                                 country_xpath).text
    
    Country.append(country)
    
Country

['',
 'IND',
 'BAN',
 'AUS',
 'SA',
 'ENG',
 'AUS',
 'KEN',
 'PAK',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'SA',
 'WI',
 'PAK',
 'PAK',
 'WI',
 'SL',
 'SA',
 'SL',
 'IND',
 'ENG',
 'SA',
 'NZ']

In [8]:
# Hs Runs

Runs = []

for i in range(1,26):
    
    runs_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[10]'
    
    run = driver.find_element(By.XPATH,
                                 runs_xpath).text
    
    Runs.append(run)
    
Runs

['2278',
 '1740',
 '1332',
 '1132',
 '1148',
 '897',
 '888',
 '768',
 '1083',
 '1079',
 '880',
 '826',
 '1085',
 '1067',
 '1225',
 '794',
 '598',
 '970',
 '969',
 '926',
 '1532',
 '738',
 '769',
 '747',
 '1002']

In [9]:
# Innings

Inn = []

for i in range(1,26):
    
    inn_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[8]'
    
    inn = driver.find_element(By.XPATH,
                                 inn_xpath).text
    
    Inn.append(inn)
    
Inn

['44',
 '36',
 '36',
 '29',
 '32',
 '21',
 '21',
 '27',
 '30',
 '37',
 '21',
 '25',
 '31',
 '23',
 '33',
 '17',
 '13',
 '28',
 '29',
 '21',
 '35',
 '21',
 '16',
 '20',
 '30']

In [10]:
# Fifties 50s

fifties = []

for i in range(1,26):
    
    fifties_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[7]/span'
    
    Fifties = driver.find_element(By.XPATH,
                                 fifties_xpath).text
    
    fifties.append(Fifties)
    
fifties

['15',
 '11',
 '11',
 '10',
 '9',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '6',
 '6']

In [11]:
# Batting Average

Bat_Avg = []

for i in range(1,26):
    
    batAvg_xpath='//*[@id="main-content"]/div/div/div[2]/div/div/table/tbody/tr[' + str(i) + ']/td[9]'
    
    batAvg = driver.find_element(By.XPATH,
                                 batAvg_xpath).text
    
    Bat_Avg.append(batAvg)
    
Bat_Avg

['56.95',
 '60.00',
 '41.62',
 '43.53',
 '45.92',
 '44.85',
 '63.42',
 '29.53',
 '43.32',
 '34.80',
 '55.00',
 '39.33',
 '36.16',
 '56.15',
 '40.83',
 '52.93',
 '49.83',
 '40.41',
 '46.14',
 '57.87',
 '56.74',
 '52.71',
 '59.15',
 '39.31',
 '37.11']

In [12]:
# To Close the driver
driver.close()

In [13]:
# Creating Data Frame
Most_Fifties = pd.DataFrame({'Pos':Pos,
                             "Name":Name,
                             "Country":Country,
                             "Inn":Inn,
                             "50s":fifties,
                             "Bat Avg":Bat_Avg,
                             "Runs":Runs,
                            })
Most_Fifties

   Pos                    Name Country Inn 50s Bat Avg  Runs
0                                       44  15   56.95  2278
1    2             Virat Kohli     IND  36  11   60.00  1740
2    3         Shakib Al Hasan     BAN  36  11   41.62  1332
3    4             Steve Smith     AUS  29  10   43.53  1132
4    5          Jacques Kallis      SA  32   9   45.92  1148
5    6            Graham Gooch     ENG  21   8   44.85   897
6    7          Michael Clarke     AUS  21   8   63.42   888
7    8            Steve Tikolo     KEN  27   8   29.53   768
8    9           Javed Miandad     PAK  30   8   43.32  1083
9   10         Mushfiqur Rahim     BAN  37   8   34.80  1079
10  11            Martin Crowe      NZ  21   8   55.00   880
11  12     Mohammad Azharuddin     IND  25   8   39.33   826
12  13          Adam Gilchrist     AUS  31   8   36.16  1085
13  14        Herschelle Gibbs      SA  23   8   56.15  1067
14  15              Brian Lara      WI  33   7   40.83  1225
15  16              Babar Azam     PAK  17   7   52.93   794
16  17           Misbah-ul-Haq     PAK  13   7   49.83   598
17  18  Shivnarine Chanderpaul      WI  28   7   40.41   970
18  19        Arjuna Ranatunga      SL  29   7   46.14   969
19  20          Faf du Plessis      SA  21   7   57.87   926
20  21        Kumar Sangakkara      SL  35   7   56.74  1532
21  22            Yuvraj Singh     IND  21   7   52.71   738
22  23              Ben Stokes     ENG  16   7   59.15   769
23  24            Graeme Smith      SA  20   6   39.31   747
24  25             Ross Taylor      NZ  30   6   37.11  1002

In [14]:
# Adding Values
Most_Fifties['Pos'][0] ='1'
Most_Fifties['Name'][0] = 'SACHIN TENDULKAR'
Most_Fifties['Country'][0] = 'IND'

In [15]:
Most_Fifties

   Pos                    Name Country Inn 50s Bat Avg  Runs
0    1        SACHIN TENDULKAR     IND  44  15   56.95  2278
1    2             Virat Kohli     IND  36  11   60.00  1740
2    3         Shakib Al Hasan     BAN  36  11   41.62  1332
3    4             Steve Smith     AUS  29  10   43.53  1132
4    5          Jacques Kallis      SA  32   9   45.92  1148
5    6            Graham Gooch     ENG  21   8   44.85   897
6    7          Michael Clarke     AUS  21   8   63.42   888
7    8            Steve Tikolo     KEN  27   8   29.53   768
8    9           Javed Miandad     PAK  30   8   43.32  1083
9   10         Mushfiqur Rahim     BAN  37   8   34.80  1079
10  11            Martin Crowe      NZ  21   8   55.00   880
11  12     Mohammad Azharuddin     IND  25   8   39.33   826
12  13          Adam Gilchrist     AUS  31   8   36.16  1085
13  14        Herschelle Gibbs      SA  23   8   56.15  1067
14  15              Brian Lara      WI  33   7   40.83  1225
15  16              Babar Azam     PAK  17   7   52.93   794
16  17           Misbah-ul-Haq     PAK  13   7   49.83   598
17  18  Shivnarine Chanderpaul      WI  28   7   40.41   970
18  19        Arjuna Ranatunga      SL  29   7   46.14   969
19  20          Faf du Plessis      SA  21   7   57.87   926
20  21        Kumar Sangakkara      SL  35   7   56.74  1532
21  22            Yuvraj Singh     IND  21   7   52.71   738
22  23              Ben Stokes     ENG  16   7   59.15   769
23  24            Graeme Smith      SA  20   6   39.31   747
24  25             Ross Taylor      NZ  30   6   37.11  1002

# The End...!